<h1>Read A Note</h1>
<div class="row">
{{#each model as |post|}}
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      {{#link-to "posts.show" post}}
      {{/link-to}}
      <div class="caption">
        <h4>{{#link-to "posts.show" post}}{{post.title}}{{/link-to}} <small>{{moment-from-now post.timestamp}}</small></h4>
        <p>{{post.body}}</p>
      </div>
    </div>
  </div>
{{/each}}
</div>